<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Time is running out!</title>
</head>
<body>

<div th:switch="${words}">
    <h2 th:case="null">No words yet!</h2>
    <div th:case="*">
        <h2>Words</h2>
        <table>
            <thead>
            <tr>
                <th>word</th>
                <th>guessed?</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="word : ${words}">
                <td th:text="${word.value}"></td>
                <td th:text="${word.guessed}"></td>
                <td><a th:href="@{/delete/{id}(id=${word.ID})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/addword">Add a new word</a></p>
</div>

</body>
</html>