<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"><head>
    <meta charset="UTF-8">
    <title>Round</title>
    <link th:href="@{/styles.css}" rel="stylesheet">
</head>
<body>
<h1>Round <span th:text="${roundNumber}">round number</span></h1>
<h2>Rules:</h2>
<div th:switch="${roundNumber}">
    <p th:case="null">There was an error, go back to the homepage to restart the game</p>
    <p th:case="1">Describe the word displayed on the screen to your teammates.
        You cannot say words of the same family, words that sound similar,
        translate, or spell the words. <br>
        When you teammates have guessed the words, press "validate",
        you can also skip a word by pressing the cross.
    </p>
    <p th:case="2">Use 1 word to describe the word displayed on the screen to your teammates.
        You cannot say words of the same family, words that sound similar,
        translate, or spell the words. <br>
        When you teammates have guessed the words, press "validate",
        you can also skip a word by pressing the cross.
    </p>
    <p th:case="3">Mime the word displayed on the screen to your teammates.
        You cannot say words of the same family, words that sound similar,
        translate, or spell the words. <br>
        When you teammates have guessed the words, press "validate",
        you can also skip a word by pressing the cross.
    </p>
</div>
<p>team <span th:text="${teamNumber}">team</span> starts</p>
<form action="#" th:action="@{/startTurn}" method="post">
    <input type="submit" value="start turn">
</form>
</body>
</html>