<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Turn</title>
    <link th:href="@{/styles.css}" rel="stylesheet">
</head>
<body>

<span th:text="${word.value}">word</span>

<!-- Display the countdown timer in an element -->
<p id="timer"></p>
<script type="text/javascript" th:src="@{/timer.js}">
</script>

<!--<form action="#" th:action="@{/validate/{id}(id=${word.ID})}}" method="post">
    <input type="submit" value="Validate">
</form>
<form action="#" th:action="@{/skip/{id}(id=${word.ID})}}" method="post">
    <input type="submit" value="Skip">
</form>-->
<a th:href="@{/skip/{id}(id=${word.ID})}">Skip</a>


</body>
</html>