<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Turn</title>
    <link th:href="@{/styles.css}" rel="stylesheet">
</head>
<body>
<p> Team <span th:text="${teamNumber}">team</span> is playing</p>
<span th:text="${word.value}">word</span>

<div id="divCounter"></div>

<script>
    //var hoursleft = 0;
    var minutesleft = 0; //give minutes you wish
    var secondsleft = 30; // give seconds you wish
    var finishedtext = "Countdown finished!";
    var end1;
    if(localStorage.getItem("end1")) {
        end1 = new Date(localStorage.getItem("end1"));
    } else {
        end1 = new Date();
        end1.setMinutes(end1.getMinutes()+minutesleft);
        end1.setSeconds(end1.getSeconds()+secondsleft);

    }
    var counter = function () {
        var now = new Date();
        var diff = end1 - now;

        diff = new Date(diff);

        var milliseconds = parseInt((diff%1000)/100)
        var sec = parseInt((diff/1000)%60)
        var mins = parseInt((diff/(1000*60))%60)
        //var hours = parseInt((diff/(1000*60*60))%24);

        if (mins < 10) {
            mins = "0" + mins;
        }
        if (sec < 10) {
            sec = "0" + sec;
        }
        if(now >= end1) {
            clearTimeout(interval);
            // localStorage.setItem("end", null);
            localStorage.removeItem("end1");
            localStorage.clear();
            //document.getElementById('divCounter').innerHTML = finishedtext;
            //if(confirm("TIME UP!"))
                window.location.href= "round";
        } else {
            var value = mins + ":" + sec;
            localStorage.setItem("end1", end1);
            document.getElementById('divCounter').innerHTML = value;
        }
    }
    var interval = setInterval(counter, 1000);
</script>

<!--<form action="#" th:action="@{/validate/{id}(id=${word.ID})}}" method="post">
    <input type="submit" value="Validate">
</form>
<form action="#" th:action="@{/skip/{id}(id=${word.ID})}}" method="post">
    <input type="submit" value="Skip">
</form>-->
<form action="#" th:action="@{/skip}" method="post">
    <input type="submit" value="skip">
</form>

<form action="#" th:action="@{/validate}" method="post">
    <input type="submit" value="validate">
</form>
<!--<a th:href="@{/skip/{id}(id=${word.ID})}">Skip</a>-->


</body>
</html>